.première-page{
    background:rgb(193, 236, 231);
    
}
.deuxième-pages{
    width: 600px;
}

h2{
    text-align: center;
    text-decoration: underline;
}
.linear-gradient{
    background:-webkit-linear-gradient(top, rgb(101, 190, 241) 30%, rgb(73, 113, 187) 70%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    text-align: center;
    border: black 1px solid;
    padding: 15px;
}
h5{
    text-align: center;
}

.texte{
    columns: 2;
}
.h1{
    text-align: center;
}


