body{
    background:rgb(193, 236, 231);
}

h1{
    text-align: center;
    border: black 1px solid;
    padding: 15px;
}
h2{
    text-align: center;
    text-decoration: underline;
}
.linear-gradient{
    background:-webkit-linear-gradient(top, rgb(101, 190, 241) 30%, rgb(73, 113, 187) 70%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}