.première-page{
    background:rgb(193, 236, 231);
    width: 100%;
    max-width: 1200px;
    font-weight: 500;
    min-height: 600px;

}
.deuxième-page{
    background-color: rgb(245, 239, 239);
}

h2{
    text-align: center;
    text-decoration: underline;
}
.linear-gradient{
    background:-webkit-linear-gradient(top, rgb(101, 190, 241) 30%, rgb(73, 113, 187) 70%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    text-align: center;
    border: black 1px solid;
    padding: 15px;
}
h3{
    text-decoration: underline;
}

.texte{
    background-color: lightyellow;
}
.h1{
    text-align: center;
}

@media and (max-width: 700px) and (orientation: portrait){

}
    
}